##### If a pitcher is playing in the National League, then they will have at bats... Hitters may have some pitching stats if their team is down a lot... Make data based off primary position?

##### To do: 
###### - Fix Appearances Clean to have primary position based on max amount of games / standings at a position
###### - Remove Primary Position Pitchers from the Batting info and create a new CSV to show only pitchers with combined information
###### - Remove Primary Position =/ Pitchers from the Pitching info and create a new CSV to show only fielders with combined information

##### Elgibility for HOF:
###### - Played at least 10 seasons
###### - Retired at least 5 seasons

##### To Do:
###### - Add Column to show years since final game to cleaning files of pitchers and batters
###### - Create a function that takes players with season > 10 years and retired years > 5 years

In [926]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [927]:
df_Clean_Batting = pd.read_csv('Clean CSV\Clean_Batting.csv', encoding="ISO-8859-1")
df_Clean_HOF = pd.read_csv('Clean CSV\Clean_HOF.csv', encoding= "ISO-8859-1")
df_Clean_Pitching = pd.read_csv('Clean CSV\Clean_Pitching.csv', encoding="ISO-8859-1")
df_Clean_Players = pd.read_csv('Clean CSV\Clean_Players.csv', encoding="ISO-8859-1")
df_Clean_Positions = pd.read_csv('Clean CSV\Clean_Positions.csv', encoding="ISO-8859-1")

In [928]:
nulls = df_Clean_Batting.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [929]:
nulls = df_Clean_HOF.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [930]:
nulls = df_Clean_Pitching.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [931]:
nulls = df_Clean_Players.isnull().sum()
nulls[nulls > 0]

nameFirst          37
weight            816
height            736
bats             1181
throws            977
finalGame         210
Retired_Years     210
dtype: int64

I think the best course of action would to be leave it at Zero?? Ask TAs on Monday... Final Game & Retired Years are most likely current players...

In [932]:
# hall eligibility function
def eligible_for_hall(row):
    if (row['Seasons']>=10) & (row['Retired_Years']>=5):
        return 'eligible'
    else:
        return 'not_eligible'

In [933]:
nulls = df_Clean_Positions.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [934]:
# Merge Demo + Batting
df_Position_Players = pd.merge(df_Clean_Batting, df_Clean_Players, on='playerID', how='left')

In [935]:
df_Position_Players

,playerID,Seasons,Games,At_Bats,Runs,Hits,Doubles,Triples,Homeruns,RBIs,...,Sac_Flys,Double_Plays,nameFirst,nameLast,weight,height,bats,throws,finalGame,Retired_Years
0,aardsda01,9,331,4,0,0,0,0,0,0.0,...,0.0,0.0,David,Aardsma,215.0,75.0,R,R,2015-08-23,6.690411
1,aaronha01,23,3298,12364,2174,3771,624,98,755,2297.0,...,121.0,328.0,Hank,Aaron,180.0,72.0,R,R,1976-10-03,45.602740
2,aaronto01,7,437,944,102,216,42,6,13,94.0,...,6.0,36.0,Tommie,Aaron,190.0,75.0,R,R,1971-09-26,50.627397
3,aasedo01,13,448,5,0,0,0,0,0,0.0,...,0.0,0.0,Don,Aase,190.0,75.0,R,R,1990-10-03,31.594521
4,abadan01,3,15,21,1,2,0,0,0,0.0,...,0.0,1.0,Andy,Abad,184.0,73.0,L,L,2006-04-13,16.057534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20161,zupofr01,3,16,18,3,3,1,0,0,0.0,...,0.0,0.0,Frank,Zupo,182.0,71.0,L,R,1961-05-09,61.016438
20162,zuvelpa01,9,209,491,41,109,17,2,2,20.0,...,0.0,8.0,Paul,Zuvella,173.0,72.0,R,R,1991-05-02,31.016438
20163,zuverge01,12,266,142,5,21,2,1,0,7.0,...,0.0,3.0,George,Zuverink,195.0,76.0,R,R,1959-06-15,62.917808
20164,zwilldu01,4,366,1280,167,364,76,15,30,202.0,...,0.0,0.0,Dutch,Zwilling,160.0,66.0,L,L,1916-07-12,105.871233
20165,zychto01,3,70,0,0,0,0,0,0,0.0,...,0.0,0.0,Tony,Zych,190.0,75.0,R,R,2017-08-19,4.698630

In [936]:
# Merge Postion Players + HOF
df_Position_Players_HOF = pd.merge(df_Position_Players, df_Clean_HOF, on='playerID', how='left')

In [937]:
df_Position_Players_HOF

,playerID,Seasons,Games,At_Bats,Runs,Hits,Doubles,Triples,Homeruns,RBIs,...,nameLast,weight,height,bats,throws,finalGame,Retired_Years,yearID,inducted,category
0,aardsda01,9,331,4,0,0,0,0,0,0.0,...,Aardsma,215.0,75.0,R,R,2015-08-23,6.690411,NaN,NaN,NaN
1,aaronha01,23,3298,12364,2174,3771,624,98,755,2297.0,...,Aaron,180.0,72.0,R,R,1976-10-03,45.602740,1982.0,Y,Player
2,aaronto01,7,437,944,102,216,42,6,13,94.0,...,Aaron,190.0,75.0,R,R,1971-09-26,50.627397,NaN,NaN,NaN
3,aasedo01,13,448,5,0,0,0,0,0,0.0,...,Aase,190.0,75.0,R,R,1990-10-03,31.594521,NaN,NaN,NaN
4,abadan01,3,15,21,1,2,0,0,0,0.0,...,Abad,184.0,73.0,L,L,2006-04-13,16.057534,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23000,zupofr01,3,16,18,3,3,1,0,0,0.0,...,Zupo,182.0,71.0,L,R,1961-05-09,61.016438,NaN,NaN,NaN
23001,zuvelpa01,9,209,491,41,109,17,2,2,20.0,...,Zuvella,173.0,72.0,R,R,1991-05-02,31.016438,NaN,NaN,NaN
23002,zuverge01,12,266,142,5,21,2,1,0,7.0,...,Zuverink,195.0,76.0,R,R,1959-06-15,62.917808,NaN,NaN,NaN
23003,zwilldu01,4,366,1280,167,364,76,15,30,202.0,...,Zwilling,160.0,66.0,L,L,1916-07-12,105.871233,NaN,NaN,NaN
23004,zychto01,3,70,0,0,0,0,0,0,0.0,...,Zych,190.0,75.0,R,R,2017-08-19,4.698630,NaN,NaN,NaN

In [938]:
df_Position_Players_HOF.columns

Index(['playerID', 'Seasons', 'Games', 'At_Bats', 'Runs', 'Hits', 'Doubles',
       'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases', 'Walks', 'Strike_Outs',
       'Intentional_Walks', 'Hit_by_Pitch', 'Sac_Hits', 'Sac_Flys',
       'Double_Plays', 'nameFirst', 'nameLast', 'weight', 'height', 'bats',
       'throws', 'finalGame', 'Retired_Years', 'yearID', 'inducted',
       'category'],
      dtype='object')

In [939]:
df_Position_Players_HOF = df_Position_Players_HOF[['playerID',
                                                   'nameFirst', 
                                                   'nameLast', 
                                                   'weight', 
                                                   'height', 
                                                   'bats',
                                                   'throws',
                                                   'Seasons', 
                                                   'Games', 
                                                   'At_Bats', 
                                                   'Runs', 
                                                   'Hits', 
                                                   'Doubles',
                                                   'Triples', 
                                                   'Homeruns', 
                                                   'RBIs', 
                                                   'Stolen_Bases', 
                                                   'Walks',
                                                   'Intentional_Walks', 
                                                   'Strike_Outs',
                                                   'Hit_by_Pitch', 
                                                   'Sac_Hits', 
                                                   'Sac_Flys',
                                                   'Double_Plays',
                                                   'finalGame', 
                                                   'Retired_Years', 
                                                   'inducted',
                                                   'yearID']]

In [940]:
df_Position_Players_HOF

,playerID,nameFirst,nameLast,weight,height,bats,throws,Seasons,Games,At_Bats,...,Intentional_Walks,Strike_Outs,Hit_by_Pitch,Sac_Hits,Sac_Flys,Double_Plays,finalGame,Retired_Years,inducted,yearID
0,aardsda01,David,Aardsma,215.0,75.0,R,R,9,331,4,...,0.0,2.0,0.0,1.0,0.0,0.0,2015-08-23,6.690411,NaN,NaN
1,aaronha01,Hank,Aaron,180.0,72.0,R,R,23,3298,12364,...,293.0,1383.0,32.0,21.0,121.0,328.0,1976-10-03,45.602740,Y,1982.0
2,aaronto01,Tommie,Aaron,190.0,75.0,R,R,7,437,944,...,3.0,145.0,0.0,9.0,6.0,36.0,1971-09-26,50.627397,NaN,NaN
3,aasedo01,Don,Aase,190.0,75.0,R,R,13,448,5,...,0.0,3.0,0.0,0.0,0.0,0.0,1990-10-03,31.594521,NaN,NaN
4,abadan01,Andy,Abad,184.0,73.0,L,L,3,15,21,...,0.0,5.0,0.0,0.0,0.0,1.0,2006-04-13,16.057534,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23000,zupofr01,Frank,Zupo,182.0,71.0,L,R,3,16,18,...,0.0,6.0,0.0,0.0,0.0,0.0,1961-05-09,61.016438,NaN,NaN
23001,zuvelpa01,Paul,Zuvella,173.0,72.0,R,R,9,209,491,...,1.0,50.0,2.0,18.0,0.0,8.0,1991-05-02,31.016438,NaN,NaN
23002,zuverge01,George,Zuverink,195.0,76.0,R,R,12,266,142,...,0.0,39.0,0.0,16.0,0.0,3.0,1959-06-15,62.917808,NaN,NaN
23003,zwilldu01,Dutch,Zwilling,160.0,66.0,L,L,4,366,1280,...,0.0,155.0,4.0,31.0,0.0,0.0,1916-07-12,105.871233,NaN,NaN
23004,zychto01,Tony,Zych,190.0,75.0,R,R,3,70,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017-08-19,4.698630,NaN,NaN

In [941]:
df_Postion_Players_Complete = pd.merge(df_Position_Players_HOF, df_Clean_Positions, on='playerID', how='left')

In [942]:
df_Postion_Players_Complete

,playerID,nameFirst,nameLast,weight,height,bats,throws,Seasons,Games,At_Bats,...,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField,Outfield,DH,Primary_Position
0,aardsda01,David,Aardsma,215.0,75.0,R,R,9,331,4,...,0,0,0,0,0,0,0,0,0.0,Pitcher
1,aaronha01,Hank,Aaron,180.0,72.0,R,R,23,3298,12364,...,210,43,7,0,315,308,2174,2760,201.0,Outfield
2,aaronto01,Tommie,Aaron,190.0,75.0,R,R,7,437,944,...,232,7,10,0,135,1,2,137,0.0,FirstBase
3,aasedo01,Don,Aase,190.0,75.0,R,R,13,448,5,...,0,0,0,0,0,0,0,0,0.0,Pitcher
4,abadan01,Andy,Abad,184.0,73.0,L,L,3,15,21,...,8,0,0,0,0,0,1,1,0.0,FirstBase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23000,zupofr01,Frank,Zupo,182.0,71.0,L,R,3,16,18,...,0,0,0,0,0,0,0,0,0.0,Catcher
23001,zuvelpa01,Paul,Zuvella,173.0,72.0,R,R,9,209,491,...,0,55,14,133,0,0,0,0,3.0,ShortStop
23002,zuverge01,George,Zuverink,195.0,76.0,R,R,12,266,142,...,0,0,0,0,0,0,0,0,0.0,Pitcher
23003,zwilldu01,Dutch,Zwilling,160.0,66.0,L,L,4,366,1280,...,3,0,0,0,0,335,5,339,0.0,Outfield
23004,zychto01,Tony,Zych,190.0,75.0,R,R,3,70,0,...,0,0,0,0,0,0,0,0,0.0,Pitcher

In [943]:
nulls = df_Postion_Players_Complete.isnull().sum()
nulls[nulls > 0]

nameFirst           37
weight             718
height             636
bats              1073
throws             868
finalGame            7
Retired_Years        7
inducted         18965
yearID           18965
dtype: int64

In [944]:
df_Postion_Players_Complete.fillna(0, inplace=True)

In [945]:
df_Non_Pitchers = df_Postion_Players_Complete[df_Postion_Players_Complete['Primary_Position']!='Pitcher']

In [946]:
df_Non_Pitchers.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats',
       'throws', 'Seasons', 'Games', 'At_Bats', 'Runs', 'Hits', 'Doubles',
       'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases', 'Walks',
       'Intentional_Walks', 'Strike_Outs', 'Hit_by_Pitch', 'Sac_Hits',
       'Sac_Flys', 'Double_Plays', 'finalGame', 'Retired_Years', 'inducted',
       'yearID', 'Total_Games', 'Games_Started', 'Pitcher', 'Catcher',
       'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop', 'LeftField',
       'CenterField', 'RightField', 'Outfield', 'DH', 'Primary_Position'],
      dtype='object')

In [947]:
#Remove Extra Columns
df_Non_Pitchers = df_Non_Pitchers.drop(columns=['Pitcher', 
                                                'Catcher', 
                                                'FirstBase', 
                                                'SecondBase', 
                                                'ThirdBase', 
                                                'ShortStop', 
                                                'LeftField',
                                                'CenterField', 
                                                'RightField', 
                                                'Outfield', 
                                                'DH'])

In [948]:
df_Non_Pitchers

,playerID,nameFirst,nameLast,weight,height,bats,throws,Seasons,Games,At_Bats,...,Sac_Hits,Sac_Flys,Double_Plays,finalGame,Retired_Years,inducted,yearID,Total_Games,Games_Started,Primary_Position
1,aaronha01,Hank,Aaron,180.0,72.0,R,R,23,3298,12364,...,21.0,121.0,328.0,1976-10-03,45.602740,Y,1982.0,3298,3173.0,Outfield
2,aaronto01,Tommie,Aaron,190.0,75.0,R,R,7,437,944,...,9.0,6.0,36.0,1971-09-26,50.627397,0,0.0,437,206.0,FirstBase
4,abadan01,Andy,Abad,184.0,73.0,L,L,3,15,21,...,0.0,0.0,1.0,2006-04-13,16.057534,0,0.0,15,4.0,FirstBase
6,abadijo01,John,Abadie,192.0,72.0,R,R,3,12,49,...,0.0,0.0,0.0,1875-06-10,146.986301,0,0.0,12,0.0,FirstBase
7,abbated01,Ed,Abbaticchio,170.0,71.0,R,R,11,855,3044,...,93.0,0.0,0.0,1910-09-15,111.698630,0,0.0,857,664.0,SecondBase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22998,zuninmi01,Mike,Zunino,235.0,74.0,R,R,9,814,2559,...,8.0,12.0,49.0,2021-10-03,0.572603,0,0.0,814,737.0,Catcher
22999,zupcibo01,Bob,Zupcic,220.0,76.0,R,R,6,319,795,...,20.0,8.0,15.0,1994-08-04,27.756164,0,0.0,319,198.0,Outfield
23000,zupofr01,Frank,Zupo,182.0,71.0,L,R,3,16,18,...,0.0,0.0,0.0,1961-05-09,61.016438,0,0.0,16,1.0,Catcher
23001,zuvelpa01,Paul,Zuvella,173.0,72.0,R,R,9,209,491,...,18.0,0.0,8.0,1991-05-02,31.016438,0,0.0,209,138.0,ShortStop
23003,zwilldu01,Dutch,Zwilling,160.0,66.0,L,L,4,366,1280,...,31.0,0.0,0.0,1916-07-12,105.871233,0,0.0,367,337.0,Outfield

In [949]:
df_Non_Pitchers['Primary_Position'].replace(['LeftField',
                                             'RightField', 
                                             'CenterField'], 'Outfield', inplace=True)

In [950]:
df_Non_Pitchers.Primary_Position.value_counts()

Outfield      4668
Catcher       2149
ShortStop     1440
SecondBase    1426
FirstBase     1349
ThirdBase     1304
DH             129
Name: Primary_Position, dtype: int64

In [951]:
df_Non_Pitchers['Hall_Eligible'] = df_Non_Pitchers.apply(eligible_for_hall,axis=1)
df_Non_Pitchers.inducted.replace(0, 'N', inplace=True)

In [952]:
df_Non_Pitchers.playerID.count()

12465

In [953]:
df_Non_Pitchers = df_Non_Pitchers.drop_duplicates(['playerID'])

In [954]:
df_Non_Pitchers.playerID.count()

10541

# Pitcher Cleaning Below

In [955]:
df_Clean_Pitching

,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,Outs_Pitched,Hits,Earned_Runs,Home_Runs,Walks,Strikeouts,Batters_Faced,Games_Finished,Runs_Allowed
0,aardsda01,9,16,18,331,0,0,0,69,1011,296,160,41,183,340,1475.0,141,169
1,aasedo01,13,66,60,448,91,22,5,82,3328,1085,468,89,457,641,4730.0,235,503
2,abadfe01,12,8,29,400,6,0,0,2,1045,332,146,43,123,290,1481.0,101,155
3,abbeybe01,7,22,40,79,65,52,0,1,1704,686,285,18,192,161,2568.0,14,442
4,abbeych01,1,0,0,1,0,0,0,0,6,6,1,0,0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,13,43,42,224,65,23,3,6,2358,767,374,35,468,383,3476.0,90,418
10195,zuberty01,2,1,5,54,0,0,0,0,148,41,29,10,37,55,222.0,14,31
10196,zumayjo01,5,13,12,171,0,0,0,5,629,169,71,18,114,210,911.0,35,80
10197,zuverge01,12,32,36,265,31,9,2,40,1927,660,253,56,203,223,2746.0,139,296
10198,zychto01,3,7,3,70,1,0,0,1,218,57,22,3,34,80,309.0,14,24

In [956]:
# Pitchers Combined Demo and Pitching Stats
df_Pitchers_Demo = pd.merge(df_Clean_Pitching,df_Clean_Players, on='playerID',how='left')
df_Pitchers_Demo

,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,Outs_Pitched,...,Games_Finished,Runs_Allowed,nameFirst,nameLast,weight,height,bats,throws,finalGame,Retired_Years
0,aardsda01,9,16,18,331,0,0,0,69,1011,...,141,169,David,Aardsma,215.0,75.0,R,R,2015-08-23,6.690411
1,aasedo01,13,66,60,448,91,22,5,82,3328,...,235,503,Don,Aase,190.0,75.0,R,R,1990-10-03,31.594521
2,abadfe01,12,8,29,400,6,0,0,2,1045,...,101,155,Fernando,Abad,235.0,74.0,L,L,2021-10-01,0.578082
3,abbeybe01,7,22,40,79,65,52,0,1,1704,...,14,442,Bert,Abbey,175.0,71.0,R,R,1896-09-23,125.682192
4,abbeych01,1,0,0,1,0,0,0,0,6,...,1,3,Charlie,Abbey,169.0,68.0,L,L,1897-08-19,124.778082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,13,43,42,224,65,23,3,6,2358,...,90,418,Bill,Zuber,195.0,74.0,R,R,1947-09-23,74.652055
10195,zuberty01,2,1,5,54,0,0,0,0,148,...,14,31,Tyler,Zuber,175.0,71.0,R,R,2021-09-30,0.580822
10196,zumayjo01,5,13,12,171,0,0,0,5,629,...,35,80,Joel,Zumaya,215.0,75.0,R,R,2010-06-28,11.846575
10197,zuverge01,12,32,36,265,31,9,2,40,1927,...,139,296,George,Zuverink,195.0,76.0,R,R,1959-06-15,62.917808
10198,zychto01,3,7,3,70,1,0,0,1,218,...,14,24,Tony,Zych,190.0,75.0,R,R,2017-08-19,4.698630

In [957]:
df_Pitchers_Demo.columns

Index(['playerID', 'Seasons', 'Wins', 'Losses', 'Games', 'Pitch_Starts',
       'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched', 'Hits',
       'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts', 'Batters_Faced',
       'Games_Finished', 'Runs_Allowed', 'nameFirst', 'nameLast', 'weight',
       'height', 'bats', 'throws', 'finalGame', 'Retired_Years'],
      dtype='object')

In [958]:
df_Pitchers_Demo_HOF = pd.merge(df_Pitchers_Demo,df_Clean_HOF, on='playerID',how='left')

In [959]:
df_Pitchers_Demo_HOF

,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,Outs_Pitched,...,nameLast,weight,height,bats,throws,finalGame,Retired_Years,yearID,inducted,category
0,aardsda01,9,16,18,331,0,0,0,69,1011,...,Aardsma,215.0,75.0,R,R,2015-08-23,6.690411,NaN,NaN,NaN
1,aasedo01,13,66,60,448,91,22,5,82,3328,...,Aase,190.0,75.0,R,R,1990-10-03,31.594521,NaN,NaN,NaN
2,abadfe01,12,8,29,400,6,0,0,2,1045,...,Abad,235.0,74.0,L,L,2021-10-01,0.578082,NaN,NaN,NaN
3,abbeybe01,7,22,40,79,65,52,0,1,1704,...,Abbey,175.0,71.0,R,R,1896-09-23,125.682192,NaN,NaN,NaN
4,abbeych01,1,0,0,1,0,0,0,0,6,...,Abbey,169.0,68.0,L,L,1897-08-19,124.778082,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11295,zuberbi01,13,43,42,224,65,23,3,6,2358,...,Zuber,195.0,74.0,R,R,1947-09-23,74.652055,NaN,NaN,NaN
11296,zuberty01,2,1,5,54,0,0,0,0,148,...,Zuber,175.0,71.0,R,R,2021-09-30,0.580822,NaN,NaN,NaN
11297,zumayjo01,5,13,12,171,0,0,0,5,629,...,Zumaya,215.0,75.0,R,R,2010-06-28,11.846575,NaN,NaN,NaN
11298,zuverge01,12,32,36,265,31,9,2,40,1927,...,Zuverink,195.0,76.0,R,R,1959-06-15,62.917808,NaN,NaN,NaN
11299,zychto01,3,7,3,70,1,0,0,1,218,...,Zych,190.0,75.0,R,R,2017-08-19,4.698630,NaN,NaN,NaN

In [960]:
df_Pitchers_Demo_HOF.columns

Index(['playerID', 'Seasons', 'Wins', 'Losses', 'Games', 'Pitch_Starts',
       'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched', 'Hits',
       'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts', 'Batters_Faced',
       'Games_Finished', 'Runs_Allowed', 'nameFirst', 'nameLast', 'weight',
       'height', 'bats', 'throws', 'finalGame', 'Retired_Years', 'yearID',
       'inducted', 'category'],
      dtype='object')

In [961]:
df_Pitchers_Demo_HOF = df_Pitchers_Demo_HOF [['playerID',
                                              'nameFirst', 
                                              'nameLast', 
                                              'weight',
                                              'height', 
                                              'bats', 
                                              'throws' ,
                                              'Seasons', 
                                              'Wins', 
                                              'Losses', 
                                              'Games', 
                                              'Pitch_Starts',
                                              'Complete_Games', 
                                              'Shutouts', 
                                              'Saves', 
                                              'Outs_Pitched', 
                                              'Hits',
                                              'Earned_Runs', 
                                              'Home_Runs', 
                                              'Walks', 
                                              'Strikeouts', 
                                              'Batters_Faced',
                                              'Games_Finished', 
                                              'Runs_Allowed',
                                              'finalGame', 
                                              'Retired_Years', 
                                              'inducted',
                                              'yearID',
                                              ]]

In [962]:
df_Pitchers_Complete = pd.merge(df_Pitchers_Demo_HOF, df_Clean_Positions, on='playerID', how='left')

In [963]:
nulls = df_Pitchers_Complete.isnull().sum()
nulls[nulls > 0]

nameFirst           6
weight            271
height            233
bats              409
throws            213
finalGame           3
Retired_Years       3
inducted         9704
yearID           9704
dtype: int64

In [964]:
# Create Pitchers List by Taking Position Players out of DF
PositionID_list = df_Non_Pitchers.playerID.tolist()
df_Pitchers_final = df_Pitchers_Complete[~df_Pitchers_Complete['playerID'].isin(PositionID_list)]
df_Pitchers_final

,playerID,nameFirst,nameLast,weight,height,bats,throws,Seasons,Wins,Losses,...,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField,Outfield,DH,Primary_Position
0,aardsda01,David,Aardsma,215.0,75.0,R,R,9,16,18,...,0,0,0,0,0,0,0,0,0.0,Pitcher
1,aasedo01,Don,Aase,190.0,75.0,R,R,13,66,60,...,0,0,0,0,0,0,0,0,0.0,Pitcher
2,abadfe01,Fernando,Abad,235.0,74.0,L,L,12,8,29,...,0,0,0,0,0,0,0,0,0.0,Pitcher
3,abbeybe01,Bert,Abbey,175.0,71.0,R,R,7,22,40,...,0,0,0,0,0,0,0,0,0.0,Pitcher
5,abbotco01,Cory,Abbott,210.0,73.0,R,R,1,0,0,...,0,0,0,0,0,0,0,0,0.0,Pitcher
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11295,zuberbi01,Bill,Zuber,195.0,74.0,R,R,13,43,42,...,0,0,0,0,0,0,0,0,0.0,Pitcher
11296,zuberty01,Tyler,Zuber,175.0,71.0,R,R,2,1,5,...,0,0,0,0,0,0,0,0,0.0,Pitcher
11297,zumayjo01,Joel,Zumaya,215.0,75.0,R,R,5,13,12,...,0,0,0,0,0,0,0,0,0.0,Pitcher
11298,zuverge01,George,Zuverink,195.0,76.0,R,R,12,32,36,...,0,0,0,0,0,0,0,0,0.0,Pitcher
11299,zychto01,Tony,Zych,190.0,75.0,R,R,3,7,3,...,0,0,0,0,0,0,0,0,0.0,Pitcher

In [965]:
df_Pitchers_final.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats',
       'throws', 'Seasons', 'Wins', 'Losses', 'Games', 'Pitch_Starts',
       'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched', 'Hits',
       'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts', 'Batters_Faced',
       'Games_Finished', 'Runs_Allowed', 'finalGame', 'Retired_Years',
       'inducted', 'yearID', 'Total_Games', 'Games_Started', 'Pitcher',
       'Catcher', 'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop',
       'LeftField', 'CenterField', 'RightField', 'Outfield', 'DH',
       'Primary_Position'],
      dtype='object')

In [966]:
df_Pitchers_final = df_Pitchers_final.drop(columns=['Pitcher',
                                                    'Catcher', 
                                                    'FirstBase', 
                                                    'SecondBase', 
                                                    'ThirdBase', 
                                                    'ShortStop',
                                                    'LeftField', 
                                                    'CenterField', 
                                                    'RightField', 
                                                    'Outfield', 
                                                    'DH'])

In [967]:
df_Pitchers_final.fillna(0, inplace=True)

In [968]:
df_Pitchers_final.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats',
       'throws', 'Seasons', 'Wins', 'Losses', 'Games', 'Pitch_Starts',
       'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched', 'Hits',
       'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts', 'Batters_Faced',
       'Games_Finished', 'Runs_Allowed', 'finalGame', 'Retired_Years',
       'inducted', 'yearID', 'Total_Games', 'Games_Started',
       'Primary_Position'],
      dtype='object')

In [969]:
df_Pitchers_final['Hall_Eligible'] = df_Pitchers_final.apply(eligible_for_hall,axis=1)
df_Pitchers_final.inducted.replace(0, 'N', inplace=True)

In [970]:
df_Pitchers_final

,playerID,nameFirst,nameLast,weight,height,bats,throws,Seasons,Wins,Losses,...,Games_Finished,Runs_Allowed,finalGame,Retired_Years,inducted,yearID,Total_Games,Games_Started,Primary_Position,Hall_Eligible
0,aardsda01,David,Aardsma,215.0,75.0,R,R,9,16,18,...,141,169,2015-08-23,6.690411,N,0.0,331,0.0,Pitcher,not_eligible
1,aasedo01,Don,Aase,190.0,75.0,R,R,13,66,60,...,235,503,1990-10-03,31.594521,N,0.0,448,91.0,Pitcher,eligible
2,abadfe01,Fernando,Abad,235.0,74.0,L,L,12,8,29,...,101,155,2021-10-01,0.578082,N,0.0,400,6.0,Pitcher,not_eligible
3,abbeybe01,Bert,Abbey,175.0,71.0,R,R,7,22,40,...,14,442,1896-09-23,125.682192,N,0.0,79,0.0,Pitcher,not_eligible
5,abbotco01,Cory,Abbott,210.0,73.0,R,R,1,0,0,...,2,15,2021-10-02,0.575342,N,0.0,8,1.0,Pitcher,not_eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11295,zuberbi01,Bill,Zuber,195.0,74.0,R,R,13,43,42,...,90,418,1947-09-23,74.652055,N,0.0,224,65.0,Pitcher,eligible
11296,zuberty01,Tyler,Zuber,175.0,71.0,R,R,2,1,5,...,14,31,2021-09-30,0.580822,N,0.0,54,0.0,Pitcher,not_eligible
11297,zumayjo01,Joel,Zumaya,215.0,75.0,R,R,5,13,12,...,35,80,2010-06-28,11.846575,N,0.0,171,0.0,Pitcher,not_eligible
11298,zuverge01,George,Zuverink,195.0,76.0,R,R,12,32,36,...,139,296,1959-06-15,62.917808,N,0.0,266,31.0,Pitcher,eligible
11299,zychto01,Tony,Zych,190.0,75.0,R,R,3,7,3,...,14,24,2017-08-19,4.698630,N,0.0,70,1.0,Pitcher,not_eligible

In [971]:
df_Pitchers_final.playerID.count()

10351

In [972]:
df_Pitchers_final = df_Pitchers_final.drop_duplicates(['playerID'])

In [973]:
df_Pitchers_final.playerID.count()

9436

In [974]:
df_Pitchers_final.to_csv('Combined CSV\Pitchers_Complete', index=False)
df_Non_Pitchers.to_csv('Combined CSV\PositionPlayers_Complete', index=False)