In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_People = pd.read_csv('..\Raw CSV\People.csv', encoding="ISO-8859-1")
df_AllStarFull = pd.read_csv('..\Raw CSV\AllstarFull.csv', encoding="ISO-8859-1")
df_Batting = pd.read_csv('..\Raw CSV\Batting.csv', encoding="ISO-8859-1")
df_Fielding = pd.read_csv('..\Raw CSV\Fielding.csv', encoding="ISO-8859-1")
df_Pitching = pd.read_csv('..\Raw CSV\Pitching.csv', encoding="ISO-8859-1")
df_HOF = pd.read_csv('..\Raw CSV\HallOfFame.csv', encoding= "ISO-8859-1")
df_Appearnces = pd.read_csv('..\Raw CSV\Appearances.csv', encoding= "ISO-8859-1")

In [4]:
df_Appearnces.shape

(110423, 21)

In [5]:
df_Appearnces

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,TRO,NaN,abercda01,1,1.0,1,1.0,0,0,...,0,0,1,0,0,0,0,0.0,0.0,0.0
1,1871,RC1,NaN,addybo01,25,25.0,25,25.0,0,0,...,22,0,3,0,0,0,0,0.0,0.0,0.0
2,1871,CL1,NaN,allisar01,29,29.0,29,29.0,0,0,...,2,0,0,0,29,0,29,0.0,0.0,0.0
3,1871,WS3,NaN,allisdo01,27,27.0,27,27.0,0,27,...,0,0,0,0,0,0,0,0.0,0.0,0.0
4,1871,RC1,NaN,ansonca01,25,25.0,25,25.0,0,5,...,2,20,0,1,0,0,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110418,2021,MIL,NL,zimmejo02,2,0.0,2,2.0,2,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
110419,2021,KCA,AL,zimmeky01,52,2.0,3,52.0,52,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
110420,2021,WAS,NL,zimmery01,110,48.0,110,54.0,0,0,...,0,0,0,0,0,0,0,3.0,58.0,0.0
110421,2021,KCA,AL,zuberty01,31,0.0,1,31.0,31,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
110422,2021,TBA,AL,zuninmi01,109,97.0,109,105.0,0,105,...,0,0,0,0,0,0,0,0.0,5.0,0.0

In [6]:
df_Appearnces.isnull().sum()

yearID          0
teamID          0
lgID          737
playerID        0
G_all           0
GS           8962
G_batting       0
G_defense    7698
G_p             0
G_c             0
G_1b            0
G_2b            0
G_3b            0
G_ss            0
G_lf            0
G_cf            0
G_rf            0
G_of            0
G_dh         1264
G_ph         8962
G_pr         8962
dtype: int64

In [7]:
nulls = df_Appearnces.isnull().sum()
nulls[nulls > 0]

lgID          737
GS           8962
G_defense    7698
G_dh         1264
G_ph         8962
G_pr         8962
dtype: int64

In [8]:
df_Appearnces.fillna(0, inplace=True)

In [9]:
df_Appearnces.drop(columns=['yearID',
                            'teamID',
                            'G_batting',
                            'G_defense',
                            'lgID',
                            'G_ph',
                            'G_pr'], 
                    axis=1, inplace=True)

In [10]:
df_Appearnces_Grouped = df_Appearnces.groupby(['playerID']).sum().reset_index()

In [11]:
df_Appearnces_Grouped

,playerID,G_all,GS,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh
0,aardsda01,331,0.0,331,0,0,0,0,0,0,0,0,0,0.0
1,aaronha01,3298,3173.0,0,0,210,43,7,0,315,308,2174,2760,201.0
2,aaronto01,437,206.0,0,0,232,7,10,0,135,1,2,137,0.0
3,aasedo01,448,91.0,448,0,0,0,0,0,0,0,0,0,0.0
4,abadan01,15,4.0,0,0,8,0,0,0,0,0,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20162,zupofr01,16,1.0,0,13,0,0,0,0,0,0,0,0,0.0
20163,zuvelpa01,209,138.0,0,0,0,55,14,133,0,0,0,0,3.0
20164,zuverge01,266,31.0,265,0,0,0,0,0,0,0,0,0,0.0
20165,zwilldu01,367,337.0,0,0,3,0,0,0,0,335,5,339,0.0
20166,zychto01,70,1.0,70,0,0,0,0,0,0,0,0,0,0.0

In [12]:
df_Appearnces_Grouped.columns

Index(['playerID', 'G_all', 'GS', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss',
       'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh'],
      dtype='object')

In [13]:
df_Appearnces_Grouped.rename(columns={'G_all':'Total_Games', 
                                      'GS':'Games_Started', 
                                      'G_p':'Pitcher', 
                                      'G_c':'Catcher', 
                                      'G_1b':'FirstBase', 
                                      'G_2b':'SecondBase', 
                                      'G_3b':'ThirdBase', 
                                      'G_ss':'ShortStop', 
                                      'G_lf':'LeftField',
                                      'G_cf':'CenterField', 
                                      'G_rf':'RightField', 
                                      'G_of':'Outfield', 
                                      'G_dh':'DH'
                                      }, inplace=True)

In [14]:
df_Appearnces_Grouped

,playerID,Total_Games,Games_Started,Pitcher,Catcher,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField,Outfield,DH
0,aardsda01,331,0.0,331,0,0,0,0,0,0,0,0,0,0.0
1,aaronha01,3298,3173.0,0,0,210,43,7,0,315,308,2174,2760,201.0
2,aaronto01,437,206.0,0,0,232,7,10,0,135,1,2,137,0.0
3,aasedo01,448,91.0,448,0,0,0,0,0,0,0,0,0,0.0
4,abadan01,15,4.0,0,0,8,0,0,0,0,0,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20162,zupofr01,16,1.0,0,13,0,0,0,0,0,0,0,0,0.0
20163,zuvelpa01,209,138.0,0,0,0,55,14,133,0,0,0,0,3.0
20164,zuverge01,266,31.0,265,0,0,0,0,0,0,0,0,0,0.0
20165,zwilldu01,367,337.0,0,0,3,0,0,0,0,335,5,339,0.0
20166,zychto01,70,1.0,70,0,0,0,0,0,0,0,0,0,0.0

In [15]:
df_Appearnces_Grouped.columns

Index(['playerID', 'Total_Games', 'Games_Started', 'Pitcher', 'Catcher',
       'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop', 'LeftField',
       'CenterField', 'RightField', 'Outfield', 'DH'],
      dtype='object')

In [16]:
df_Appearnces_Grouped['Primary_Position'] = df_Appearnces_Grouped[['Pitcher', 
                                                                   'Catcher',
                                                                   'FirstBase', 
                                                                   'SecondBase', 
                                                                   'ThirdBase',
                                                                   'ShortStop', 
                                                                   'LeftField', 
                                                                   'CenterField',
                                                                   'RightField', 
                                                                   'Outfield', 
                                                                   'DH']].idxmax(axis=1)

In [17]:
df_Appearnces_Grouped.columns

Index(['playerID', 'Total_Games', 'Games_Started', 'Pitcher', 'Catcher',
       'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop', 'LeftField',
       'CenterField', 'RightField', 'Outfield', 'DH', 'Primary_Position'],
      dtype='object')

In [18]:
df_Appearnces_Grouped.to_csv('..\Clean CSV\Clean_Positions.csv', index=False)

In [19]:
from sqlalchemy import create_engine
"postgresql://[user]:[password]@[location]:[port]/[database]"
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/baseball_analysis"
engine = create_engine(db_string)
df_Appearnces_Grouped.to_sql(name='Clean_Positions', con=engine, if_exists='replace')

167