In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
df_People = pd.read_csv('..\Raw CSV\People.csv', encoding="ISO-8859-1")
df_AllStarFull = pd.read_csv('..\Raw CSV\AllstarFull.csv', encoding="ISO-8859-1")
df_Batting = pd.read_csv('..\Raw CSV\Batting.csv', encoding="ISO-8859-1")
df_Fielding = pd.read_csv('..\Raw CSV\Fielding.csv', encoding="ISO-8859-1")
df_Pitching = pd.read_csv('..\Raw CSV\Pitching.csv', encoding="ISO-8859-1")
df_HOF = pd.read_csv('..\Raw CSV\HallOfFame.csv', encoding= "ISO-8859-1")
df_Appearnces = pd.read_csv('..\Raw CSV\Appearances.csv', encoding= "ISO-8859-1")

In [41]:
df_Pitching.shape

(49430, 30)

In [42]:
df_Pitching.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [43]:
df_Pitching.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [44]:
nulls = df_Pitching.isnull().sum()
nulls[nulls > 0]

lgID       132
BAOpp     4441
ERA         97
IBB      14578
HBP        734
BFP          3
SH       19187
SF       19187
GIDP     20318
dtype: int64

In [45]:
df_Pitching.fillna(0, inplace=True)

In [46]:
#Need to also drop Percentages (ERA) - Will Calculate Later If Necessary
df_Pitching.drop(columns=['yearID',
                          'teamID',
                          'lgID',
                          'IBB',
                          'WP',
                          'BK',
                          'SH',
                          'SF',
                          'GIDP',
                          'BAOpp',
                          'HBP',
                          'ERA'], 
                    axis=1, inplace=True)

In [47]:
df_Pitching

,playerID,stint,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BFP,GF,R
0,bechtge01,1,1,2,3,3,2,0,0,78,43,23,0,11,1,146.0,0,42
1,brainas01,1,12,15,30,30,30,0,0,792,361,132,4,37,13,1291.0,0,292
2,fergubo01,1,0,0,1,0,0,0,0,3,8,3,0,0,0,14.0,0,9
3,fishech01,1,4,16,24,24,22,1,0,639,295,103,3,31,15,1080.0,1,257
4,fleetfr01,1,0,1,1,1,1,0,0,27,20,10,0,3,0,57.0,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,zeuchtj01,1,0,2,5,3,0,0,0,45,21,11,6,9,8,74.0,0,16
49426,zimmebr02,1,4,5,14,13,0,0,0,193,75,36,14,22,56,285.0,0,37
49427,zimmejo02,1,0,0,2,0,0,0,0,17,8,5,1,2,0,26.0,1,5
49428,zimmeky01,1,4,1,52,2,0,0,2,162,46,29,7,30,46,223.0,9,32
49429,zuberty01,1,0,3,31,0,0,0,0,82,26,19,6,17,25,123.0,6,20

In [48]:
#Stint will give the same result... Change Stint to Seasons, drop year ID

#df_Season_Pitching = df_Pitching.groupby(['playerID'])['yearID'].unique().reset_index()
#df_Season_Pitching['seasons'] = df_Season_Pitching['yearID'].apply(lambda x: len(x))
#df_Season_Pitching.drop(['yearID'], axis=1, inplace = True)
#df_Season_Pitching

In [49]:
df_Pitching_Grouped = df_Pitching.groupby(['playerID']).sum().reset_index()

In [50]:
## Since Stint Appears to be the Same as Seasons, Change Name
df_Pitching_Grouped.rename(columns={'stint':'Seasons'}, inplace=True)

In [51]:
df_Pitching_Grouped

,playerID,Seasons,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BFP,GF,R
0,aardsda01,9,16,18,331,0,0,0,69,1011,296,160,41,183,340,1475.0,141,169
1,aasedo01,13,66,60,448,91,22,5,82,3328,1085,468,89,457,641,4730.0,235,503
2,abadfe01,12,8,29,400,6,0,0,2,1045,332,146,43,123,290,1481.0,101,155
3,abbeybe01,7,22,40,79,65,52,0,1,1704,686,285,18,192,161,2568.0,14,442
4,abbeych01,1,0,0,1,0,0,0,0,6,6,1,0,0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,13,43,42,224,65,23,3,6,2358,767,374,35,468,383,3476.0,90,418
10195,zuberty01,2,1,5,54,0,0,0,0,148,41,29,10,37,55,222.0,14,31
10196,zumayjo01,5,13,12,171,0,0,0,5,629,169,71,18,114,210,911.0,35,80
10197,zuverge01,12,32,36,265,31,9,2,40,1927,660,253,56,203,223,2746.0,139,296
10198,zychto01,3,7,3,70,1,0,0,1,218,57,22,3,34,80,309.0,14,24

In [52]:
df_Pitching_Grouped.columns

Index(['playerID', 'Seasons', 'W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV', 'IPouts',
       'H', 'ER', 'HR', 'BB', 'SO', 'BFP', 'GF', 'R'],
      dtype='object')

In [53]:
df_Pitching_Grouped = df_Pitching_Grouped.rename(columns={'W':'Wins', 
                                    'L':'Losses', 
                                    'G':'Games', 
                                    'GS':'Pitch_Starts', 
                                    'CG':'Complete_Games', 
                                    'SHO':'Shutouts', 
                                    'SV':'Saves', 
                                    'IPouts':'Outs_Pitched', 
                                    'H':'Hits', 
                                    'ER':'Earned_Runs',
                                    'HR':'Home_Runs', 
                                    'BB':'Walks', 
                                    'SO':'Strikeouts',  
                                    'BFP':'Batters_Faced', 
                                    'GF':'Games_Finished', 
                                    'R':'Runs_Allowed'
                                    })

In [54]:
df_Pitching_Grouped

,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,Outs_Pitched,Hits,Earned_Runs,Home_Runs,Walks,Strikeouts,Batters_Faced,Games_Finished,Runs_Allowed
0,aardsda01,9,16,18,331,0,0,0,69,1011,296,160,41,183,340,1475.0,141,169
1,aasedo01,13,66,60,448,91,22,5,82,3328,1085,468,89,457,641,4730.0,235,503
2,abadfe01,12,8,29,400,6,0,0,2,1045,332,146,43,123,290,1481.0,101,155
3,abbeybe01,7,22,40,79,65,52,0,1,1704,686,285,18,192,161,2568.0,14,442
4,abbeych01,1,0,0,1,0,0,0,0,6,6,1,0,0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,13,43,42,224,65,23,3,6,2358,767,374,35,468,383,3476.0,90,418
10195,zuberty01,2,1,5,54,0,0,0,0,148,41,29,10,37,55,222.0,14,31
10196,zumayjo01,5,13,12,171,0,0,0,5,629,169,71,18,114,210,911.0,35,80
10197,zuverge01,12,32,36,265,31,9,2,40,1927,660,253,56,203,223,2746.0,139,296
10198,zychto01,3,7,3,70,1,0,0,1,218,57,22,3,34,80,309.0,14,24

In [55]:
df_Pitching_Grouped.to_csv('..\Clean CSV\Clean_Pitching.csv', index=False)

In [56]:
df_Pitching_Grouped

,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,Outs_Pitched,Hits,Earned_Runs,Home_Runs,Walks,Strikeouts,Batters_Faced,Games_Finished,Runs_Allowed
0,aardsda01,9,16,18,331,0,0,0,69,1011,296,160,41,183,340,1475.0,141,169
1,aasedo01,13,66,60,448,91,22,5,82,3328,1085,468,89,457,641,4730.0,235,503
2,abadfe01,12,8,29,400,6,0,0,2,1045,332,146,43,123,290,1481.0,101,155
3,abbeybe01,7,22,40,79,65,52,0,1,1704,686,285,18,192,161,2568.0,14,442
4,abbeych01,1,0,0,1,0,0,0,0,6,6,1,0,0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,13,43,42,224,65,23,3,6,2358,767,374,35,468,383,3476.0,90,418
10195,zuberty01,2,1,5,54,0,0,0,0,148,41,29,10,37,55,222.0,14,31
10196,zumayjo01,5,13,12,171,0,0,0,5,629,169,71,18,114,210,911.0,35,80
10197,zuverge01,12,32,36,265,31,9,2,40,1927,660,253,56,203,223,2746.0,139,296
10198,zychto01,3,7,3,70,1,0,0,1,218,57,22,3,34,80,309.0,14,24

In [57]:
from sqlalchemy import create_engine
"postgresql://[user]:[password]@[location]:[port]/[database]"
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/baseball_analysis"
engine = create_engine(db_string)
df_Pitching_Grouped.to_sql(name='Clean_Pitching', con=engine, if_exists='replace')

199