In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
df_People = pd.read_csv('..\Raw CSV\People.csv', encoding="ISO-8859-1")
df_AllStarFull = pd.read_csv('..\Raw CSV\AllstarFull.csv', encoding="ISO-8859-1")
df_Batting = pd.read_csv('..\Raw CSV\Batting.csv', encoding="ISO-8859-1")
df_Fielding = pd.read_csv('..\Raw CSV\Fielding.csv', encoding="ISO-8859-1")
df_Pitching = pd.read_csv('..\Raw CSV\Pitching.csv', encoding="ISO-8859-1")
df_HOF = pd.read_csv('..\Raw CSV\HallOfFame.csv', encoding= "ISO-8859-1")
df_Appearnces = pd.read_csv('..\Raw CSV\Appearances.csv', encoding= "ISO-8859-1")

In [37]:
df_Batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110490,zimmejo02,2021,1,MIL,NL,2,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
110491,zimmeky01,2021,1,KCA,AL,52,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
110492,zimmery01,2021,1,WAS,NL,110,255,27,62,16,...,46.0,0.0,0.0,16,77.0,0.0,0.0,0.0,2.0,9.0
110493,zuberty01,2021,1,KCA,AL,31,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
110494,zuninmi01,2021,1,TBA,AL,109,333,64,72,11,...,62.0,0.0,0.0,34,132.0,0.0,7.0,0.0,1.0,7.0

In [38]:
df_Batting.shape

(110495, 22)

In [39]:
df_Batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [40]:
nulls = df_Batting.isnull().sum()
nulls[nulls > 0]

lgID      737
RBI       756
SB       2368
CS      23541
SO       2100
IBB     36650
HBP      2816
SH       6068
SF      36103
GIDP    25441
dtype: int64

In [41]:
df_Batting.fillna(0, inplace=True)

In [42]:
df_Batting.drop(columns=['yearID',
                          'teamID',
                          'lgID',
                          'CS'],axis=1, inplace=True)

In [43]:
df_Batting

,playerID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1,1,4,0,0,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,addybo01,1,25,118,30,32,6,0,0,13.0,8.0,4,0.0,0.0,0.0,0.0,0.0,0.0
2,allisar01,1,29,137,28,40,4,5,0,19.0,3.0,2,5.0,0.0,0.0,0.0,0.0,1.0
3,allisdo01,1,27,133,28,44,10,2,2,27.0,1.0,0,2.0,0.0,0.0,0.0,0.0,0.0
4,ansonca01,1,25,120,29,39,11,3,0,16.0,6.0,2,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110490,zimmejo02,1,2,1,0,0,0,0,0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
110491,zimmeky01,1,52,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
110492,zimmery01,1,110,255,27,62,16,0,14,46.0,0.0,16,77.0,0.0,0.0,0.0,2.0,9.0
110493,zuberty01,1,31,1,0,0,0,0,0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
110494,zuninmi01,1,109,333,64,72,11,2,33,62.0,0.0,34,132.0,0.0,7.0,0.0,1.0,7.0

In [44]:
df_Batting_Grouped = df_Batting.groupby(['playerID']).sum().reset_index()

In [45]:
df_Batting_Grouped

,playerID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,9,331,4,0,0,0,0,0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
1,aaronha01,23,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
2,aaronto01,7,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,36.0
3,aasedo01,13,448,5,0,0,0,0,0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
4,abadan01,3,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20161,zupofr01,3,16,18,3,3,1,0,0,0.0,0.0,2,6.0,0.0,0.0,0.0,0.0,0.0
20162,zuvelpa01,9,209,491,41,109,17,2,2,20.0,2.0,34,50.0,1.0,2.0,18.0,0.0,8.0
20163,zuverge01,12,266,142,5,21,2,1,0,7.0,0.0,9,39.0,0.0,0.0,16.0,0.0,3.0
20164,zwilldu01,4,366,1280,167,364,76,15,30,202.0,46.0,128,155.0,0.0,4.0,31.0,0.0,0.0
20165,zychto01,3,70,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
## Since Stint Appears to be the Same as Seasons, Change Name
df_Batting_Grouped.rename(columns={'stint':'Seasons'}, inplace=True)

In [47]:
df_Batting_Grouped

,playerID,Seasons,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,9,331,4,0,0,0,0,0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
1,aaronha01,23,3298,12364,2174,3771,624,98,755,2297.0,240.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
2,aaronto01,7,437,944,102,216,42,6,13,94.0,9.0,86,145.0,3.0,0.0,9.0,6.0,36.0
3,aasedo01,13,448,5,0,0,0,0,0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
4,abadan01,3,15,21,1,2,0,0,0,0.0,0.0,4,5.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20161,zupofr01,3,16,18,3,3,1,0,0,0.0,0.0,2,6.0,0.0,0.0,0.0,0.0,0.0
20162,zuvelpa01,9,209,491,41,109,17,2,2,20.0,2.0,34,50.0,1.0,2.0,18.0,0.0,8.0
20163,zuverge01,12,266,142,5,21,2,1,0,7.0,0.0,9,39.0,0.0,0.0,16.0,0.0,3.0
20164,zwilldu01,4,366,1280,167,364,76,15,30,202.0,46.0,128,155.0,0.0,4.0,31.0,0.0,0.0
20165,zychto01,3,70,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
df_Batting_Grouped.columns

Index(['playerID', 'Seasons', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'SB', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [49]:
df_Batting_Grouped = df_Batting_Grouped.rename(columns={ 'G':'Games', 
                                    'AB':'At_Bats', 
                                    'R':'Runs', 
                                    'H':'Hits', 
                                    '2B':'Doubles', 
                                    '3B':'Triples', 
                                    'HR':'Homeruns', 
                                    'RBI':'RBIs', 
                                    'SB':'Stolen_Bases', 
                                    'BB':'Walks', 
                                    'SO':'Strike_Outs', 
                                    'IBB':'Intentional_Walks', 
                                    'HBP':'Hit_by_Pitch', 
                                    'SH':'Sac_Hits', 
                                    'SF':'Sac_Flys', 
                                    'GIDP':'Double_Plays'
                                    })

In [50]:
df_Batting_Grouped.to_csv('..\Clean CSV\Clean_Batting.csv', index=False)

In [51]:
from sqlalchemy import create_engine
"postgresql://[user]:[password]@[location]:[port]/[database]"
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/baseball_analysis"
engine = create_engine(db_string)
df_Batting_Grouped.to_sql(name='Clean_Batting', con=engine, if_exists='replace')

166