In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
from sqlalchemy import create_engine
"postgresql://[user]:[password]@[location]:[port]/[database]"
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/baseball_analysis"
engine = create_engine(db_string)

In [74]:
df_Clean_Batting = pd.read_sql_table('Clean_Batting',db_string)
df_Clean_HOF = pd.read_sql_table('Clean_HOF', db_string)
df_Clean_Pitching = pd.read_sql_table('Clean_Pitching', db_string)
df_Clean_Players = pd.read_sql_table('Clean_Players', db_string)
df_Clean_Positions = pd.read_sql_table('Clean_Positions', db_string)

In [75]:
# df_Clean_Batting = pd.read_csv('..\Clean CSV\Clean_Batting.csv', encoding="ISO-8859-1")
# df_Clean_HOF = pd.read_csv('..\Clean CSV\Clean_HOF.csv', encoding= "ISO-8859-1")
# df_Clean_Pitching = pd.read_csv('..\Clean CSV\Clean_Pitching.csv', encoding="ISO-8859-1")
# df_Clean_Players = pd.read_csv('..\Clean CSV\Clean_Players.csv', encoding="ISO-8859-1")
# df_Clean_Positions = pd.read_csv('..\Clean CSV\Clean_Positions.csv', encoding="ISO-8859-1")

In [76]:
nulls = df_Clean_Batting.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [77]:
nulls = df_Clean_HOF.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [78]:
nulls = df_Clean_Pitching.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [79]:
nulls = df_Clean_Players.isnull().sum()
nulls[nulls > 0]

nameFirst         37
finalGame        210
Retired_Years    210
dtype: int64

In [80]:
# hall eligibility function
def eligible_for_hall(row):
    if (row['Seasons']>=10) & (row['Retired_Years']>=5):
        return '1' #eligible
    else:
        return '0' #not_eligible

In [81]:
nulls = df_Clean_Positions.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [82]:
# Merge Demo + Batting
df_Position_Players = pd.merge(df_Clean_Batting, df_Clean_Players, on='playerID', how='left')

In [83]:
df_Position_Players

,index_x,playerID,Seasons,Games,At_Bats,Runs,Hits,Doubles,Triples,Homeruns,...,nameFirst,nameLast,weight,height,bats_L,bats_R,throws_L,throws_R,finalGame,Retired_Years
0,0,aardsda01,9,331,4,0,0,0,0,0,...,David,Aardsma,215.0,75.0,0,1,0,1,2015-08-23,6.720548
1,1,aaronha01,23,3298,12364,2174,3771,624,98,755,...,Hank,Aaron,180.0,72.0,0,1,0,1,1976-10-03,45.632877
2,2,aaronto01,7,437,944,102,216,42,6,13,...,Tommie,Aaron,190.0,75.0,0,1,0,1,1971-09-26,50.657534
3,3,aasedo01,13,448,5,0,0,0,0,0,...,Don,Aase,190.0,75.0,0,1,0,1,1990-10-03,31.624658
4,4,abadan01,3,15,21,1,2,0,0,0,...,Andy,Abad,184.0,73.0,1,0,1,0,2006-04-13,16.087671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20161,20161,zupofr01,3,16,18,3,3,1,0,0,...,Frank,Zupo,182.0,71.0,1,0,0,1,1961-05-09,61.046575
20162,20162,zuvelpa01,9,209,491,41,109,17,2,2,...,Paul,Zuvella,173.0,72.0,0,1,0,1,1991-05-02,31.046575
20163,20163,zuverge01,12,266,142,5,21,2,1,0,...,George,Zuverink,195.0,76.0,0,1,0,1,1959-06-15,62.947945
20164,20164,zwilldu01,4,366,1280,167,364,76,15,30,...,Dutch,Zwilling,160.0,66.0,1,0,1,0,1916-07-12,105.901370
20165,20165,zychto01,3,70,0,0,0,0,0,0,...,Tony,Zych,190.0,75.0,0,1,0,1,2017-08-19,4.728767

In [84]:
# Merge Postion Players + HOF
df_Position_Players_HOF = pd.merge(df_Position_Players, df_Clean_HOF, on='playerID', how='left')

In [85]:
df_Position_Players_HOF

,index_x,playerID,Seasons,Games,At_Bats,Runs,Hits,Doubles,Triples,Homeruns,...,bats_L,bats_R,throws_L,throws_R,finalGame,Retired_Years,index,yearID,inducted,category
0,0,aardsda01,9,331,4,0,0,0,0,0,...,0,1,0,1,2015-08-23,6.720548,NaN,NaN,NaN,NaN
1,1,aaronha01,23,3298,12364,2174,3771,624,98,755,...,0,1,0,1,1976-10-03,45.632877,2860.0,1982.0,Y,Player
2,2,aaronto01,7,437,944,102,216,42,6,13,...,0,1,0,1,1971-09-26,50.657534,NaN,NaN,NaN,NaN
3,3,aasedo01,13,448,5,0,0,0,0,0,...,0,1,0,1,1990-10-03,31.624658,NaN,NaN,NaN,NaN
4,4,abadan01,3,15,21,1,2,0,0,0,...,1,0,1,0,2006-04-13,16.087671,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20161,20161,zupofr01,3,16,18,3,3,1,0,0,...,1,0,0,1,1961-05-09,61.046575,NaN,NaN,NaN,NaN
20162,20162,zuvelpa01,9,209,491,41,109,17,2,2,...,0,1,0,1,1991-05-02,31.046575,NaN,NaN,NaN,NaN
20163,20163,zuverge01,12,266,142,5,21,2,1,0,...,0,1,0,1,1959-06-15,62.947945,NaN,NaN,NaN,NaN
20164,20164,zwilldu01,4,366,1280,167,364,76,15,30,...,1,0,1,0,1916-07-12,105.901370,NaN,NaN,NaN,NaN
20165,20165,zychto01,3,70,0,0,0,0,0,0,...,0,1,0,1,2017-08-19,4.728767,NaN,NaN,NaN,NaN

In [86]:
df_Position_Players_HOF.columns

Index(['index_x', 'playerID', 'Seasons', 'Games', 'At_Bats', 'Runs', 'Hits',
       'Doubles', 'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases', 'Walks',
       'Strike_Outs', 'Intentional_Walks', 'Hit_by_Pitch', 'Sac_Hits',
       'Sac_Flys', 'Double_Plays', 'index_y', 'nameFirst', 'nameLast',
       'weight', 'height', 'bats_L', 'bats_R', 'throws_L', 'throws_R',
       'finalGame', 'Retired_Years', 'index', 'yearID', 'inducted',
       'category'],
      dtype='object')

In [87]:
df_Position_Players_HOF = df_Position_Players_HOF[['playerID',
                                                   'nameFirst', 
                                                   'nameLast', 
                                                   'weight', 
                                                   'height', 
                                                   'bats_L',
                                                   'bats_R',
                                                   'throws_L',
                                                   'throws_R',
                                                   'Seasons', 
                                                   'Games', 
                                                   'At_Bats', 
                                                   'Runs', 
                                                   'Hits', 
                                                   'Doubles',
                                                   'Triples', 
                                                   'Homeruns', 
                                                   'RBIs', 
                                                   'Stolen_Bases', 
                                                   'Walks',
                                                   'Intentional_Walks', 
                                                   'Strike_Outs',
                                                   'Hit_by_Pitch', 
                                                   'Sac_Hits', 
                                                   'Sac_Flys',
                                                   'Double_Plays',
                                                   'finalGame', 
                                                   'Retired_Years', 
                                                   'inducted',
                                                   'yearID']]

In [88]:
df_Position_Players_HOF.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Games', 'At_Bats', 'Runs',
       'Hits', 'Doubles', 'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases',
       'Walks', 'Intentional_Walks', 'Strike_Outs', 'Hit_by_Pitch', 'Sac_Hits',
       'Sac_Flys', 'Double_Plays', 'finalGame', 'Retired_Years', 'inducted',
       'yearID'],
      dtype='object')

In [89]:
df_Postion_Players_Complete = pd.merge(df_Position_Players_HOF, df_Clean_Positions, on='playerID', how='left')

In [90]:
df_Postion_Players_Complete.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Games', 'At_Bats', 'Runs',
       'Hits', 'Doubles', 'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases',
       'Walks', 'Intentional_Walks', 'Strike_Outs', 'Hit_by_Pitch', 'Sac_Hits',
       'Sac_Flys', 'Double_Plays', 'finalGame', 'Retired_Years', 'inducted',
       'yearID', 'index', 'Total_Games', 'Games_Started', 'Pitcher', 'Catcher',
       'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop', 'LeftField',
       'CenterField', 'RightField', 'Outfield', 'DH', 'Primary_Position'],
      dtype='object')

In [91]:
nulls = df_Postion_Players_Complete.isnull().sum()
nulls[nulls > 0]

nameFirst           37
finalGame            7
Retired_Years        7
inducted         19936
yearID           19936
dtype: int64

In [92]:
df_Postion_Players_Complete['inducted'].fillna(0, inplace=True)
df_Postion_Players_Complete['yearID'].fillna(0, inplace=True)

In [93]:
nulls = df_Postion_Players_Complete.isnull().sum()
nulls[nulls > 0]

nameFirst        37
finalGame         7
Retired_Years     7
dtype: int64

After review of the 51 nulls, the data was deemed to be of little impact and our team decided to drop them. The data in question would have been data of 1 game or less.

In [94]:
df_Postion_Players_Complete = df_Postion_Players_Complete.dropna()

In [95]:
nulls = df_Postion_Players_Complete.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [96]:
df_Non_Pitchers = df_Postion_Players_Complete[df_Postion_Players_Complete['Primary_Position']!='Pitcher']

In [97]:
df_Non_Pitchers.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Games', 'At_Bats', 'Runs',
       'Hits', 'Doubles', 'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases',
       'Walks', 'Intentional_Walks', 'Strike_Outs', 'Hit_by_Pitch', 'Sac_Hits',
       'Sac_Flys', 'Double_Plays', 'finalGame', 'Retired_Years', 'inducted',
       'yearID', 'index', 'Total_Games', 'Games_Started', 'Pitcher', 'Catcher',
       'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop', 'LeftField',
       'CenterField', 'RightField', 'Outfield', 'DH', 'Primary_Position'],
      dtype='object')

In [98]:
#Remove Extra Columns
#df_Non_Pitchers = df_Non_Pitchers.drop(columns=['Pitcher', 
#                                                'Catcher', 
#                                                'FirstBase', 
#                                                'SecondBase', 
#                                                'ThirdBase', 
#                                                'ShortStop', 
#                                                'LeftField',
#                                                'CenterField', 
#                                                'RightField', 
#                                                'Outfield', 
#                                                'DH'])

In [99]:
df_Position_Players_Normalized = df_Non_Pitchers.copy(deep=True)

Positions =   ['Pitcher', 
              'Catcher', 
              'FirstBase',   
              'SecondBase', 
              'ThirdBase', 
              'ShortStop', 
              'LeftField',
              'CenterField', 
              'RightField', 
              'Outfield', 
              'DH'] 

for division in Positions:
    df_Position_Players_Normalized[division] = df_Position_Players_Normalized[division]/df_Position_Players_Normalized['Games']

df_Position_Players_Normalized.head()

,playerID,nameFirst,nameLast,weight,height,bats_L,bats_R,throws_L,throws_R,Seasons,...,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField,Outfield,DH,Primary_Position
1,aaronha01,Hank,Aaron,180.0,72.0,0,1,0,1,23,...,0.063675,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,Outfield
2,aaronto01,Tommie,Aaron,190.0,75.0,0,1,0,1,7,...,0.530892,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,FirstBase
4,abadan01,Andy,Abad,184.0,73.0,1,0,1,0,3,...,0.533333,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,FirstBase
6,abadijo01,John,Abadie,192.0,72.0,0,1,0,1,3,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,FirstBase
7,abbated01,Ed,Abbaticchio,170.0,71.0,0,1,0,1,11,...,0.000000,0.490058,0.023392,0.453801,0.000000,0.002339,0.001170,0.003509,0.000000,SecondBase

In [100]:
df_Position_Players_Normalized['Primary_Position'].replace(['LeftField',
                                                            'RightField', 
                                                            'CenterField'], 
                                                            'Outfield', inplace=True)

In [101]:
df_Position_Players_Normalized.Primary_Position.value_counts()

Outfield      3893
Catcher       1905
SecondBase    1254
ThirdBase     1142
ShortStop     1135
FirstBase     1061
DH             116
Name: Primary_Position, dtype: int64

In [102]:
df_Position_Players_Normalized['Hall_Eligible'] = df_Position_Players_Normalized.apply(eligible_for_hall,axis=1)
df_Position_Players_Normalized.inducted.replace(0, 'N', inplace=True)

In [103]:
df_Position_Players_Normalized.playerID.count()

10506

In [104]:
df_Position_Players_Normalized = df_Position_Players_Normalized.drop_duplicates(['playerID'])

In [105]:
df_Position_Players_Normalized.playerID.count()

10506

In [106]:
nulls = df_Position_Players_Normalized.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [107]:
df_Position_Players_Final = df_Position_Players_Normalized

In [108]:
df_Position_Players_Final = df_Position_Players_Final.drop(columns='index')

In [109]:
df_Position_Players_Final.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Games', 'At_Bats', 'Runs',
       'Hits', 'Doubles', 'Triples', 'Homeruns', 'RBIs', 'Stolen_Bases',
       'Walks', 'Intentional_Walks', 'Strike_Outs', 'Hit_by_Pitch', 'Sac_Hits',
       'Sac_Flys', 'Double_Plays', 'finalGame', 'Retired_Years', 'inducted',
       'yearID', 'Total_Games', 'Games_Started', 'Pitcher', 'Catcher',
       'FirstBase', 'SecondBase', 'ThirdBase', 'ShortStop', 'LeftField',
       'CenterField', 'RightField', 'Outfield', 'DH', 'Primary_Position',
       'Hall_Eligible'],
      dtype='object')

In [110]:
df_Position_Players_Final.head()

,playerID,nameFirst,nameLast,weight,height,bats_L,bats_R,throws_L,throws_R,Seasons,...,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField,Outfield,DH,Primary_Position,Hall_Eligible
1,aaronha01,Hank,Aaron,180.0,72.0,0,1,0,1,23,...,0.013038,0.002122,0.000000,0.095512,0.093390,0.659187,0.836871,0.060946,Outfield,1
2,aaronto01,Tommie,Aaron,190.0,75.0,0,1,0,1,7,...,0.016018,0.022883,0.000000,0.308924,0.002288,0.004577,0.313501,0.000000,FirstBase,0
4,abadan01,Andy,Abad,184.0,73.0,1,0,1,0,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.066667,0.000000,FirstBase,0
6,abadijo01,John,Abadie,192.0,72.0,0,1,0,1,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,FirstBase,0
7,abbated01,Ed,Abbaticchio,170.0,71.0,0,1,0,1,11,...,0.490058,0.023392,0.453801,0.000000,0.002339,0.001170,0.003509,0.000000,SecondBase,1

In [111]:
Y_N_Replace = {'N':0,'Y':1}
df_Position_Players_Final = df_Position_Players_Final.replace(Y_N_Replace)

In [112]:
df_Position_Players_Final.inducted

1        1
2        0
4        0
6        0
7        0
        ..
20159    0
20160    0
20161    0
20162    0
20164    0
Name: inducted, Length: 10506, dtype: int64

# Pitcher Cleaning Below

In [113]:
df_Clean_Pitching

,index,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,Outs_Pitched,Hits,Earned_Runs,Home_Runs,Walks,Strikeouts,Batters_Faced,Games_Finished,Runs_Allowed
0,0,aardsda01,9,16,18,331,0,0,0,69,1011,296,160,41,183,340,1475.0,141,169
1,1,aasedo01,13,66,60,448,91,22,5,82,3328,1085,468,89,457,641,4730.0,235,503
2,2,abadfe01,12,8,29,400,6,0,0,2,1045,332,146,43,123,290,1481.0,101,155
3,3,abbeybe01,7,22,40,79,65,52,0,1,1704,686,285,18,192,161,2568.0,14,442
4,4,abbeych01,1,0,0,1,0,0,0,0,6,6,1,0,0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,10194,zuberbi01,13,43,42,224,65,23,3,6,2358,767,374,35,468,383,3476.0,90,418
10195,10195,zuberty01,2,1,5,54,0,0,0,0,148,41,29,10,37,55,222.0,14,31
10196,10196,zumayjo01,5,13,12,171,0,0,0,5,629,169,71,18,114,210,911.0,35,80
10197,10197,zuverge01,12,32,36,265,31,9,2,40,1927,660,253,56,203,223,2746.0,139,296
10198,10198,zychto01,3,7,3,70,1,0,0,1,218,57,22,3,34,80,309.0,14,24

In [114]:
# Pitchers Combined Demo and Pitching Stats
df_Pitchers_Demo = pd.merge(df_Clean_Pitching,df_Clean_Players, on='playerID',how='left')
df_Pitchers_Demo

,index_x,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,...,nameFirst,nameLast,weight,height,bats_L,bats_R,throws_L,throws_R,finalGame,Retired_Years
0,0,aardsda01,9,16,18,331,0,0,0,69,...,David,Aardsma,215.0,75.0,0,1,0,1,2015-08-23,6.720548
1,1,aasedo01,13,66,60,448,91,22,5,82,...,Don,Aase,190.0,75.0,0,1,0,1,1990-10-03,31.624658
2,2,abadfe01,12,8,29,400,6,0,0,2,...,Fernando,Abad,235.0,74.0,1,0,1,0,2021-10-01,0.608219
3,3,abbeybe01,7,22,40,79,65,52,0,1,...,Bert,Abbey,175.0,71.0,0,1,0,1,1896-09-23,125.712329
4,4,abbeych01,1,0,0,1,0,0,0,0,...,Charlie,Abbey,169.0,68.0,1,0,1,0,1897-08-19,124.808219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,10194,zuberbi01,13,43,42,224,65,23,3,6,...,Bill,Zuber,195.0,74.0,0,1,0,1,1947-09-23,74.682192
10195,10195,zuberty01,2,1,5,54,0,0,0,0,...,Tyler,Zuber,175.0,71.0,0,1,0,1,2021-09-30,0.610959
10196,10196,zumayjo01,5,13,12,171,0,0,0,5,...,Joel,Zumaya,215.0,75.0,0,1,0,1,2010-06-28,11.876712
10197,10197,zuverge01,12,32,36,265,31,9,2,40,...,George,Zuverink,195.0,76.0,0,1,0,1,1959-06-15,62.947945
10198,10198,zychto01,3,7,3,70,1,0,0,1,...,Tony,Zych,190.0,75.0,0,1,0,1,2017-08-19,4.728767

In [115]:
df_Pitchers_Demo.columns

Index(['index_x', 'playerID', 'Seasons', 'Wins', 'Losses', 'Games',
       'Pitch_Starts', 'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched',
       'Hits', 'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts',
       'Batters_Faced', 'Games_Finished', 'Runs_Allowed', 'index_y',
       'nameFirst', 'nameLast', 'weight', 'height', 'bats_L', 'bats_R',
       'throws_L', 'throws_R', 'finalGame', 'Retired_Years'],
      dtype='object')

In [116]:
df_Pitchers_Demo_HOF = pd.merge(df_Pitchers_Demo,df_Clean_HOF, on='playerID',how='left')

In [117]:
df_Pitchers_Demo_HOF

,index_x,playerID,Seasons,Wins,Losses,Games,Pitch_Starts,Complete_Games,Shutouts,Saves,...,bats_L,bats_R,throws_L,throws_R,finalGame,Retired_Years,index,yearID,inducted,category
0,0,aardsda01,9,16,18,331,0,0,0,69,...,0,1,0,1,2015-08-23,6.720548,NaN,NaN,NaN,NaN
1,1,aasedo01,13,66,60,448,91,22,5,82,...,0,1,0,1,1990-10-03,31.624658,NaN,NaN,NaN,NaN
2,2,abadfe01,12,8,29,400,6,0,0,2,...,1,0,1,0,2021-10-01,0.608219,NaN,NaN,NaN,NaN
3,3,abbeybe01,7,22,40,79,65,52,0,1,...,0,1,0,1,1896-09-23,125.712329,NaN,NaN,NaN,NaN
4,4,abbeych01,1,0,0,1,0,0,0,0,...,1,0,1,0,1897-08-19,124.808219,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,10194,zuberbi01,13,43,42,224,65,23,3,6,...,0,1,0,1,1947-09-23,74.682192,NaN,NaN,NaN,NaN
10195,10195,zuberty01,2,1,5,54,0,0,0,0,...,0,1,0,1,2021-09-30,0.610959,NaN,NaN,NaN,NaN
10196,10196,zumayjo01,5,13,12,171,0,0,0,5,...,0,1,0,1,2010-06-28,11.876712,NaN,NaN,NaN,NaN
10197,10197,zuverge01,12,32,36,265,31,9,2,40,...,0,1,0,1,1959-06-15,62.947945,NaN,NaN,NaN,NaN
10198,10198,zychto01,3,7,3,70,1,0,0,1,...,0,1,0,1,2017-08-19,4.728767,NaN,NaN,NaN,NaN

In [118]:
df_Pitchers_Demo_HOF.columns

Index(['index_x', 'playerID', 'Seasons', 'Wins', 'Losses', 'Games',
       'Pitch_Starts', 'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched',
       'Hits', 'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts',
       'Batters_Faced', 'Games_Finished', 'Runs_Allowed', 'index_y',
       'nameFirst', 'nameLast', 'weight', 'height', 'bats_L', 'bats_R',
       'throws_L', 'throws_R', 'finalGame', 'Retired_Years', 'index', 'yearID',
       'inducted', 'category'],
      dtype='object')

In [119]:
df_Pitchers_Demo_HOF = df_Pitchers_Demo_HOF [['playerID',
                                              'nameFirst', 
                                              'nameLast', 
                                              'weight',
                                              'height', 
                                              'bats_L',
                                              'bats_R',
                                              'throws_L',
                                              'throws_R', 
                                              'Seasons', 
                                              'Wins', 
                                              'Losses', 
                                              'Games', 
                                              'Pitch_Starts',
                                              'Complete_Games', 
                                              'Shutouts', 
                                              'Saves', 
                                              'Outs_Pitched', 
                                              'Hits',
                                              'Earned_Runs', 
                                              'Home_Runs', 
                                              'Walks', 
                                              'Strikeouts', 
                                              'Batters_Faced',
                                              'Games_Finished', 
                                              'Runs_Allowed',
                                              'finalGame', 
                                              'Retired_Years', 
                                              'inducted',
                                              'yearID',
                                              ]]

In [120]:
df_Pitchers_Complete = pd.merge(df_Pitchers_Demo_HOF, df_Clean_Positions, on='playerID', how='left')

In [121]:
nulls = df_Pitchers_Complete.isnull().sum()
nulls[nulls > 0]

nameFirst            6
finalGame            3
Retired_Years        3
inducted         10103
yearID           10103
dtype: int64

In [122]:
df_Pitchers_Complete['inducted'].fillna(0, inplace=True)
df_Pitchers_Complete['yearID'].fillna(0, inplace=True)

In [123]:
nulls = df_Pitchers_Complete.isnull().sum()
nulls[nulls > 0]

nameFirst        6
finalGame        3
Retired_Years    3
dtype: int64

After review of the 12 nulls, the data was deemed to be of little interest and our team decided to drop. The data in question would have been data of 1 game or less.

In [124]:
df_Pitchers_Complete = df_Pitchers_Complete.dropna()

In [125]:
nulls = df_Pitchers_Complete.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [126]:
# Create Pitchers List by Taking Position Players out of DF
PositionID_list = df_Non_Pitchers.playerID.tolist()
df_Pitchers_final = df_Pitchers_Complete[~df_Pitchers_Complete['playerID'].isin(PositionID_list)]
df_Pitchers_final

,playerID,nameFirst,nameLast,weight,height,bats_L,bats_R,throws_L,throws_R,Seasons,...,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField,Outfield,DH,Primary_Position
0,aardsda01,David,Aardsma,215.0,75.0,0,1,0,1,9,...,0,0,0,0,0,0,0,0,0.0,Pitcher
1,aasedo01,Don,Aase,190.0,75.0,0,1,0,1,13,...,0,0,0,0,0,0,0,0,0.0,Pitcher
2,abadfe01,Fernando,Abad,235.0,74.0,1,0,1,0,12,...,0,0,0,0,0,0,0,0,0.0,Pitcher
3,abbeybe01,Bert,Abbey,175.0,71.0,0,1,0,1,7,...,0,0,0,0,0,0,0,0,0.0,Pitcher
5,abbotco01,Cory,Abbott,210.0,73.0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0.0,Pitcher
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,Bill,Zuber,195.0,74.0,0,1,0,1,13,...,0,0,0,0,0,0,0,0,0.0,Pitcher
10195,zuberty01,Tyler,Zuber,175.0,71.0,0,1,0,1,2,...,0,0,0,0,0,0,0,0,0.0,Pitcher
10196,zumayjo01,Joel,Zumaya,215.0,75.0,0,1,0,1,5,...,0,0,0,0,0,0,0,0,0.0,Pitcher
10197,zuverge01,George,Zuverink,195.0,76.0,0,1,0,1,12,...,0,0,0,0,0,0,0,0,0.0,Pitcher
10198,zychto01,Tony,Zych,190.0,75.0,0,1,0,1,3,...,0,0,0,0,0,0,0,0,0.0,Pitcher

In [127]:
df_Pitchers_final.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Wins', 'Losses', 'Games',
       'Pitch_Starts', 'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched',
       'Hits', 'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts',
       'Batters_Faced', 'Games_Finished', 'Runs_Allowed', 'finalGame',
       'Retired_Years', 'inducted', 'yearID', 'index', 'Total_Games',
       'Games_Started', 'Pitcher', 'Catcher', 'FirstBase', 'SecondBase',
       'ThirdBase', 'ShortStop', 'LeftField', 'CenterField', 'RightField',
       'Outfield', 'DH', 'Primary_Position'],
      dtype='object')

In [128]:
df_Pitchers_final = df_Pitchers_final.drop(columns=['Pitcher',
                                                    'Catcher', 
                                                    'FirstBase', 
                                                    'SecondBase', 
                                                    'ThirdBase', 
                                                    'ShortStop',
                                                    'LeftField', 
                                                    'CenterField', 
                                                    'RightField', 
                                                    'Outfield', 
                                                    'index',
                                                    'DH'])

In [129]:
df_Pitchers_final.fillna(0, inplace=True)

In [130]:
df_Pitchers_final.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Wins', 'Losses', 'Games',
       'Pitch_Starts', 'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched',
       'Hits', 'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts',
       'Batters_Faced', 'Games_Finished', 'Runs_Allowed', 'finalGame',
       'Retired_Years', 'inducted', 'yearID', 'Total_Games', 'Games_Started',
       'Primary_Position'],
      dtype='object')

In [131]:
df_Pitchers_final['Hall_Eligible'] = df_Pitchers_final.apply(eligible_for_hall,axis=1)
df_Pitchers_final.inducted.replace(0, 'N', inplace=True)

In [132]:
df_Pitchers_final

,playerID,nameFirst,nameLast,weight,height,bats_L,bats_R,throws_L,throws_R,Seasons,...,Games_Finished,Runs_Allowed,finalGame,Retired_Years,inducted,yearID,Total_Games,Games_Started,Primary_Position,Hall_Eligible
0,aardsda01,David,Aardsma,215.0,75.0,0,1,0,1,9,...,141,169,2015-08-23,6.720548,N,0.0,331,0.0,Pitcher,0
1,aasedo01,Don,Aase,190.0,75.0,0,1,0,1,13,...,235,503,1990-10-03,31.624658,N,0.0,448,91.0,Pitcher,1
2,abadfe01,Fernando,Abad,235.0,74.0,1,0,1,0,12,...,101,155,2021-10-01,0.608219,N,0.0,400,6.0,Pitcher,0
3,abbeybe01,Bert,Abbey,175.0,71.0,0,1,0,1,7,...,14,442,1896-09-23,125.712329,N,0.0,79,0.0,Pitcher,0
5,abbotco01,Cory,Abbott,210.0,73.0,0,1,0,1,1,...,2,15,2021-10-02,0.605479,N,0.0,8,1.0,Pitcher,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10194,zuberbi01,Bill,Zuber,195.0,74.0,0,1,0,1,13,...,90,418,1947-09-23,74.682192,N,0.0,224,65.0,Pitcher,1
10195,zuberty01,Tyler,Zuber,175.0,71.0,0,1,0,1,2,...,14,31,2021-09-30,0.610959,N,0.0,54,0.0,Pitcher,0
10196,zumayjo01,Joel,Zumaya,215.0,75.0,0,1,0,1,5,...,35,80,2010-06-28,11.876712,N,0.0,171,0.0,Pitcher,0
10197,zuverge01,George,Zuverink,195.0,76.0,0,1,0,1,12,...,139,296,1959-06-15,62.947945,N,0.0,266,31.0,Pitcher,1
10198,zychto01,Tony,Zych,190.0,75.0,0,1,0,1,3,...,14,24,2017-08-19,4.728767,N,0.0,70,1.0,Pitcher,0

In [133]:
df_Pitchers_final.playerID.count()

9427

In [134]:
df_Pitchers_final = df_Pitchers_final.drop_duplicates(['playerID'])

In [135]:
df_Pitchers_final.playerID.count()

9427

In [136]:
df_Pitchers_final.columns

Index(['playerID', 'nameFirst', 'nameLast', 'weight', 'height', 'bats_L',
       'bats_R', 'throws_L', 'throws_R', 'Seasons', 'Wins', 'Losses', 'Games',
       'Pitch_Starts', 'Complete_Games', 'Shutouts', 'Saves', 'Outs_Pitched',
       'Hits', 'Earned_Runs', 'Home_Runs', 'Walks', 'Strikeouts',
       'Batters_Faced', 'Games_Finished', 'Runs_Allowed', 'finalGame',
       'Retired_Years', 'inducted', 'yearID', 'Total_Games', 'Games_Started',
       'Primary_Position', 'Hall_Eligible'],
      dtype='object')

In [137]:
nulls = df_Pitchers_final.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [138]:
Y_N_Replace = {'N':0,'Y':1}
df_Pitchers_final = df_Pitchers_final.replace(Y_N_Replace)

In [139]:
df_Pitchers_final.to_csv('..\Combined CSV\Pitchers_Complete.csv', index=False)
df_Position_Players_Final.to_csv('..\Combined CSV\PositionPlayers_Complete.csv', index=False)

In [140]:
from sqlalchemy import create_engine
"postgresql://[user]:[password]@[location]:[port]/[database]"
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/baseball_analysis"
engine = create_engine(db_string)
df_Pitchers_final.to_sql(name='Combined_Pitchers', con=engine, if_exists='replace')
df_Position_Players_Final.to_sql(name='Combined_PositionPlayers', con=engine, if_exists='replace')

506

Add the cleaning for each file to each individual machine learning file